# --- Laravel & PHP Dependencies ---
/vendor/
node_modules/
npm-debug.log
yarn-error.log


# --- Environment & Security (CRÍTICO) ---
.env
auth.json

# --- Database ---
/database/*.sqlite


# --- Docker ---
docker-compose.override.yml

# --- Windsurf ---
.windsurf/


# --- Windsurf & AI Context  ---
.windsurfrules
AGENTS.md

